  *{
        width: 100%;
        box-sizing: border-box;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(239, 242, 219);
        text-align: justify;
    }

    body {
        background-image: url(sec-1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-position-y: 67%;
        animation: moveBackground 10s linear infinite;
        padding: 0;
        margin: 0;
    }
    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(50, 16, 2, 0.5);
        z-index: -1;
        position: fixed;
    }
    .one{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    nav{
        background-color: rgb(9, 6, 6);
        width: 100%;
        height: auto;
        padding:0;
        margin: 0;
        position: fixed;
        border-bottom: 1px solid rgba(152, 55, 7, 0.249);
        border-left: 0.5px solid rgba(152, 55, 7, 0.275);
        border-radius: 50px;
    }
    nav label{
        padding: 10px 20px;
        font-size: 40px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bolder;
        cursor: pointer;
        color: rgb(152, 56, 7);
    }
    nav label a{
        color: rgb(152, 56, 7);
    }
    nav label a:hover{
        color: rgb(152, 56, 7);
    }
    .Logo{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
    nav div button a{
        color: rgb(239, 242, 219);
    }
    .login{
        width: 90px;
        height: 50px;
        background-color: rgb(110, 32, 4);
        border-radius: 20px;
        text-align: center;
        padding: 10px;
        margin: 10px;
        align-items: center;
        border: 2px solid rgb(152, 56, 7);
        box-shadow: 0 0 5px rgb(152, 56, 7);
    }
    .login:hover{
        background-color: rgb(152, 56, 7);
        transition: 0.3s;
        color: white;
    }
    .login a:hover{
        color: white;
        transition: 0.1s;
    }
    a {
        text-decoration: none;
        list-style: none;
    }
    nav ul{
        list-style: none;
        display: flex;
        padding: 10px;
        margin: 10px;

    }
    nav ul li{
        margin-right: 10px;
        padding: 10px;
    }
    nav ul li a{
        color: rgb(175, 91, 57);
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
        padding: 10px; 
    }
    .active{
        color: rgb(156, 55, 4);
        transition: 0.5s;
        font-weight: bold;
        border-bottom: 3px solid rgb(152, 56, 7);
    }
    nav ul li a:hover{
        color: rgb(136, 90, 4);
        transition: 0.3s;
        border-radius: 25%;
    }
    .section-4 {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: repeat (2, minmax(100px, auto));
        grid-gap: 15px;
        padding: 200px;
        text-align: justify;
        align-items: center;
        justify-content: center;
    }
    .description{
        font-weight: bold;
        padding: 20px;
        margin: 20px;
        align-items: center;
        justify-content: center;
    }
    .hello{
        text-align: center;
        font-size: 50px;
        color: rgb(239, 242, 219);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .introduction{
        border-radius: 20%;
        border-right: 5px solid rgb(152, 56, 7);
        padding: 20px;
        margin-left: 350px;
        text-align: justify;
        align-items: center;
        justify-content: center;
        width: 45%;
        height: 100%;
    }
    #introduction{
        color: rgb(239, 242, 219);
        opacity: 0.8;
        text-align: justify;
        align-items: center;
    }
    .em{
        color: rgb(152, 56, 7);
    }
    .section-1{
        display:grid;
        grid-template-rows: repeat(4, minmax(100px, auto));
        grid-gap: 10px;
        padding: 30px;
        margin: 10px;
        align-items: center;
        justify-content: center;
    }
    #pillar{
        color: rgb(239, 242, 219);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    .pillar{
        grid-row: 1;
    }
    .carousel{
        grid-row: 2/4;
        height: 50vh;
    }
    .card{
        align-items: center;
        text-align: justify;
        margin: auto;
        height: 50vh;
    }
    .card-img{
        align-items: center;
        position: center;
        text-align: center;
        margin: auto;
        height: 50vh;
    }
    .col{
        align-items: center;
    }
    .card-img-overlay{
        text-align:center;
    }
    .card-title{
        color: rgb(239, 242, 219);
    }
    .card-text{
        font-size: 15px;
        padding: 10px;
    }
    #Gender{
        background-color: rgba(0, 0, 0, 0.236);
        border-radius: 25px;
    }
    #gender{
        background-color: rgba(0, 0, 0, 0.236);
        border-radius: 25px;
    }
    .about{
        text-align: center;
    }
    .about-us{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding: 10px;
        margin: 10px;
        align-items: center;
        justify-content: center;
    }
    .our-story, .mission, .goals{
        display: grid;
        grid-template-rows: repeat(2, minmax(100px, auto));
        grid-gap: 4px;
        color: rgb(239, 242, 219);
        border-radius: 10px;
        background-color: rgba(70, 21, 3, 0.353);
        justify-content: center;
        padding: 10px;
        margin: 10px;
    }
    .emp{
        color: rgb(220, 95, 17);
        font-size: 20px;
    }
    .une{
        text-align: center;
        padding-top: 50px;
        font-size: 20px;
        font-weight: bold;
    }
    .words{
        padding: 40px;
        margin: 3px;
        text-align: justify;
        font-size: 15px;
    }
    .pictur img{
        width: 500px;
        height: 490px;
        border-radius: 30px;
        border: 1px solid rgba(88, 25, 2, 0.633);
    }
    .nome{
        padding: 6px;
    }
    .pictur{
        text-align: center;
        padding: 1px;
        border-radius: 10px;
    }
    .goal li{
        color: rgb(239, 242, 219);
    }
    .comment{
        background-image: url("comment.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-position-y: 80%;
        padding: 0;
        margin: 0;
    }
    .inputs{
        background-color: rgba(0, 0, 0, 0.392);
        align-items: center;
        text-align: center;
        width: 50%;
        margin-left: 200px;
        border: 3px solid rgba(65, 29, 3, 0.633);
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 0 10px rgb(112, 33, 3);
    }
    form{
        padding: 10px;
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn{
        background-color: rgb(102, 38, 4);
        color: rgb(239, 242, 219);
        border-radius: 30px;
        border: none;
        width: 50%;
        height: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    .btn:hover{
        color: white;
        background-color: rgb(51, 19, 2);
    }
    input[type="text"], input[type="email"], textarea[type="comment"] {
        background-color: rgba(0, 0, 0, 0.471);
        border: none;
        border-bottom: 2px solid rgba(93, 40, 2, 0.633);
        color: rgb(239, 242, 219);
        padding: 10px;
    }
    input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
        outline: none;
        border: none;
    }
    .section-3{
        background-color: rgba(11, 5, 1, 0.945);
        width: 100%;
        text-align: center;
        align-items: center;
        font-size: 14px;
        padding: 20;
        margin-right: 0;
        right: 0;
        left: 0;
        bottom: 0;
        box-sizing: border-box;
    }
    .row{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
        padding: 20px;
        margin: 0;
        margin-left: 30px;
        align-items: center;
        justify-content: center;
    }
    .col-1{
        margin-left: 20px;
    }
    .courses_card{
        background-color: rgba(9, 5, 0, 0.158);
        border-radius: 25px;
        padding: 10px;
        border:1px solid rgba(93, 40, 2, 0.633);
        box-shadow: 0 0 10px rgb(68, 20, 1);
    }
    .readmore{
        color: rgb(204, 197, 160);
        font-size: 16px;
    }
    .card-img-top{
        border-radius: 20px;
    }
    .copyright{
        color: white;
        text-align: center;
        font-size: 13px;
    }
    .footer{
        background-color: rgb(9, 6, 6);
        width: 100%;
        text-align: center;
        align-items: center;
        font-size: 14px;
        padding: 30px;
        margin-right: 0;
        right: 0;
        left: 0;
        bottom: 0;
        box-sizing: border-box;
    }
    .get_in_touch{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
    li{
        list-style: none;
    }
    .links ul{
        margin-top: 30px;
        padding-top: 30px;
    }
    i{
        color: rgb(102, 38, 4);
        font-size: 20px;
    }
    i:hover{
        color: rgb(245, 106, 36);
    }
    .links ul li a{
        color: rgb(239, 242, 219);
    }
  
    @keyframes moveBackground {
        0% {
          /* Initial background position */
          background-position: 60% 40%;
        }
        100% {
          /* Final background position */
          background-position: 100% 0; /* Adjust as needed */
        }
      }

    /* small devices */
    @media only screen and (max-width: 800px) {
        .hello{
            text-align: center;
        }
        .introduction{
            text-align: center;
            width: 100%;
        }
        .one{
            text-align: center;
            display: block;
        }
        nav{
            background-color: rgb(9, 6, 6);
            position: relative;
        }
        nav label{
            display: block;
            text-align: center;
            margin: auto;
            justify-content: center;
        }
        nav ul{
            display: block;
        }
        .section-4{
            text-align: center;
        }
        .section-5{
            text-align: center;
            width: auto;
        }
        .inputs{
            background-color: rgba(0, 0, 0, 0.392);
            align-items: center;
            text-align: center;
            width: auto;
            margin: 10px;
            border: 3px solid rgba(65, 29, 3, 0.633);
            border-radius: 10px;
            padding: 10px;
            box-shadow: 0 0 10px rgb(112, 33, 3);
        }
        .description{
            margin: auto;
        }
        .introduction{
            margin: auto;
            width: auto;
        }
        .section-1{
            text-align: center;
            
        }
        .pictur img{
            width: 100%;
            height: 100%;
        }
        .about-us{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 20px;
            padding: 10px;
            margin: 10px;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: auto;
        }
        .our-story, .mission, .goals{
            display: grid;
            width: 100%;
            text-align: center;
        }
        .row{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 5px;
            width: 100%;
        }
        .col-1, .col-3{
            margin-left: 30px;
            margin: 10px;
        }
        .get_in_touch{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            grid-gap: 30px;
        }
    }
    /* medium devices */
    @media only screen and (min-width: 801px) and (max-width: 1089px) {
        .hello{
            text-align: center;
        }
        .introduction{
            text-align: center;
            width: 100%;
        }
        .one{
            text-align: center;
            display: block;
        }
        nav{
            background-color: rgb(9, 6, 6);
            position: relative;
        }
        nav label{
            display: block;
            text-align: center;
            margin: auto;
            justify-content: center;
        }
        nav ul{
            display: block;
        }
        .section-4{
            text-align: center;
        }
        .description{
            margin: auto;
        }
        .introduction{
            margin: auto;
            width: auto;
        }
        .section-1{
            text-align: center;
            
        }
        .pictur img{
            width: 100%;
            height: 100%;
        }
        .about-us{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            padding: 10px;
            margin: 10px;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: auto;
        }
        .our-story, .mission, .goals{
            width: auto;
        }
        .row{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 5px;
            width: 100%;
        }
        .get_in_touch{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            grid-gap: 30px;
        }
    }