*{
    width: 100%;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(239, 242, 219);
    text-align: justify;
}
body{
    width: 100%;
    background-image: url(bg_of_skillsets.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin-right: -70px;
    top: 0;
    left: 0;
    z-index: -1;
    right: 0;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}
nav{
    position: fixed;
}
.navbar{
    background-color: rgba(212, 88, 5, 0.877);
    opacity: 0.8;
    color: beige;
    border-bottom: 1px solid rgb(255, 145, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
input{
    background-color: rgba(0, 0, 0, 0.534);
    color: beige;
}
.logo{
    color:rgba(13, 4, 1, 0.759);
}
button{
    padding: 25px;
    margin: 10px;
}
.logout{
    width: 100px;
}
.container{
    width: 100%;
    align-items: center;
    text-align: center;
    margin: 100px;
    padding: 60px;
}
.section-0{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    background-color: rgb(9, 6, 6);
    padding: 40px;
    margin: 0;
    align-items: center;
    justify-content: center;
}
.one{
    box-shadow: 3px 3px 3px  solid rgb(73, 43, 2);
    border-radius: 10px;
    border-left: 3px solid rgb(73, 43, 2);
}
.Intro{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.section-1{
    background-color: rgba(0, 0, 0, 0.534);
    padding: 0;
    margin: 0;
}
.title{
    text-align: center;
    align-items: center;
    width: 90%;
    margin-left: 100px;
    justify-content: center;
    border: 1px solid rgb(187, 112, 13);
    border-radius: 30px;
    background-color:rgba(116, 88, 59, 0.673);
    color: rgb(239, 242, 219);
}
.skills{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
    margin-left: 70px;
    text-align: center;
}
img{
    width: 1000%;
    height: 100%;
}
.skills button{
    width: 50%;
    height: 50px;
    padding: 10px;
    margin: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid rgb(147, 87, 3);
    border-radius: 25px;
    background-color: rgb(246, 69, 5);
    color: yellow;
}
.skills button:hover{
    width: 50%;
    height: 70px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border: 1px solid rgb(147, 87, 3);
    border-radius: 20px;
    background-color: rgba(172, 50, 5, 0.579);
    box-shadow: 0 0 3px  solid red;
    color: yellow;
}