  *{
        width: 100%;
        box-sizing: border-box;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(239, 242, 219);
    }

    body {
        background-image: url(images/sec-1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-position-y: 67%;
        margin: 5px;
        animation: moveBackground 10s linear infinite;
    }
    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(50, 16, 2, 0.5);
        z-index: -1;
        position: fixed;
    }
    .one{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    nav{
        background-color: rgba(0, 0, 0, 0.189);
        padding:0;
        margin: 0;
        position: fixed;
        border-bottom: 1px solid rgba(152, 55, 7, 0.249);
        border-left: 0.5px solid rgba(152, 55, 7, 0.275);
        border-radius: 50px;
    }
    nav label{
        padding: 10px 20px;
        font-size: 40px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bolder;
        cursor: pointer;
        color: rgb(152, 56, 7);
    }
    nav ul{
        list-style: none;
        display: flex;
        padding: 10px;
        margin: 10px;

    }
    nav ul li{
        margin-right: 10px;
        padding: 10px;
    }
    nav ul li a{
        color: rgb(175, 91, 57);
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
        padding: 10px; 
    }
    .active{
        color: rgb(22, 20, 1);
        background-color:rgb(103, 37, 4);
        border-radius: 25%;
        transition: 0.5s;
    }
    nav ul li a:hover{
        color: rgb(22, 20, 1);
        transition: 0.3s;
        background-color:rgb(103, 37, 4);
        border-radius: 25%;
    }

    i {
        display: flex;
        font-size: 30px;
        color: rgb(110, 136, 170);
        padding: 10px;
    }
    .section-0 {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: repeat (2, minmax(100px, auto));
        grid-gap: 15px;
        padding: 200px;
        text-align: justify;
        align-items: center;
        justify-content: center;
    }
    .description{
        font-weight: bold;
        padding: 20px;
        margin: 20px;
        align-items: center;
        justify-content: center;
    }
    .hello{
        text-align: center;
        font-size: 50px;
        color: rgb(239, 242, 219);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .introduction{
        border-radius: 20%;
        border-right: 5px solid rgb(152, 56, 7);
        padding: 20px;
        margin-left: 350px;
        text-align: justify;
        align-items: center;
        justify-content: center;
        width: 45%;
        height: 100%;
    }
    #introduction{
        color: rgb(239, 242, 219);
        opacity: 0.8;
        text-align: justify;
        align-items: center;
    }
    .em{
        color: rgb(152, 56, 7);
    }
    .section-1{
        display:grid;
        grid-template-rows: repeat(4, minmax(100px, auto));
        grid-gap: 10px;
        padding: 30px;
        margin: 10px;
        align-items: center;
        justify-content: center;
    }
    #pillar{
        color: rgb(239, 242, 219);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    .pillar{
        grid-row: 1;
    }
    .carousel{
        grid-row: 2/4;
        height: 50vh;
    }
    .card{
        align-items: center;
        text-align: justify;
        margin: auto;
        height: 50vh;
    }
    .card-img{
        align-items: center;
        position: center;
        text-align: center;
        margin: auto;
        height: 50vh;
    }
    .col{
        align-items: center;
    }
    .card-img-overlay{
        text-align:center;
    }
    .card-title{
        color: rgb(239, 242, 219);
    }
    .card-text{
        font-size: 15px;
        padding: 10px;
    }
    #Gender{
        background-color: rgba(0, 0, 0, 0.236);
        border-radius: 25px;
    }
    #gender{
        background-color: rgba(0, 0, 0, 0.236);
        border-radius: 25px;
    }
    .about{
        text-align: center;
    }
    .about-us{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding: 10px;
        margin: 10px;
        align-items: center;
        justify-content: center;
    }
    .our-story, .mission, .goals{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4px;
        color: rgb(239, 242, 219);
        border-radius: 10px;
        background-color: rgba(70, 21, 3, 0.353);
        justify-content: center;
        padding: 10px;
        margin: 10px;
    }
    .emp{
        color: rgb(220, 95, 17);
        font-size: 20px;
    }
    .une{
        grid-column: 1/4;
        text-align: center;
    }
    .une, .words, .picture{
        padding: 10px;
    }
    .words{
        grid-column: 1/3;
        padding: 3px;
        margin: 3px;
        text-align: justify;
        font-size: 15px;
    }
    .picture{
        float: right;
        padding: 3px;
        margin: 3px;
        position: fixed;
        border-radius: 9px;
        box-shadow: 0 0 7px solid rgb(88, 25, 2);
    }
    .pictur img{
        width: 500px;
        height: 490px;
        border-radius: 30px;
        border: 1px solid rgba(88, 25, 2, 0.633);
    }
    .nome{
        padding: 6px;
    }
    .pictur{
        text-align: center;
        padding: 1px;
        border-radius: 10px;
    }
    .goal li{
        color: rgb(239, 242, 219);
    }
    #connect {
        color:brown;
        display: block;
        padding: 5px;
        padding-top: -20px;
        padding-top: 1px;
        text-align: center;
        margin: 10px;
    }
    #contact {
        color:brown;
        display: block;
        padding: 5px;
        padding-top: 1px;
        text-align: left;
        margin: 10px;
    }
    li{
        list-style: none;
        color: rgb(76, 10, 10);
    }
    .section-5 {
        /* background-image: url(images/contact.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-position-y: 67%; */
        padding: 20px;
        height: 70%;
        margin: 0;
        margin-right: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .display-4 {
        font-size: 25px;
        color: rgb(187, 193, 164);
        padding: 10px;
    }
    .footer{
        background-color: rgba(63, 20, 3, 0.563);
        color: rgb(169, 222, 169);
        text-align: center;
        font-size: 18px;
        padding: 20px;
        right: 0;
        left: 0;
        bottom: 0;
    }
    .comment{
        display: inline-block;
    }
    
    form{
        border: 3px solid rgb(10, 10, 71);
        width: 100%;
        background-color: rgb(0, 0, 0, 0.6);
        padding: 20px;
        margin: 20px;
        border-radius: 10px;
        border-left: 4px solid rgb(56, 10, 71);
        padding-left: 100px;
    }
    input {
        background-color: rgba(0, 0, 0, 0.241);
        color:rgb(209, 240, 240);
        border-radius: 10px;
        border: 1px solid rgb(107, 107, 186);
        padding: 10px;
        margin: 10px;
    }
    textarea{
        background-color: rgba(0, 0, 0, 0.241);
        border: 1px solid rgb(107, 107, 186);
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        color:rgb(209, 240, 240);
    }
    #submit{

        background-color: rgb(56, 10, 71);
        padding: 10px;
        color:rgb(209, 240, 240);
        border-radius: 20px;
        margin-left: 30px;
    }
    #submit:hover{
        background-color: rgb(148, 133, 26);
        color:rgb(2, 34, 34);
        border: 2px solid black;
    }
    /* small devices */
    @media only screen and (max-width: 578px) {
        .one{
            text-align: center;
            display: block;
        }
        nav label{
            display: block;
            text-align: center;
            margin: auto;
            justify-content: center;
        }
        nav ul{
            display: block;
        }
        .section-0{
            text-align: center;
        }
        .description{
            margin: auto;
        }
        .introduction{
            margin: auto;
            width: auto;
        }
        .section-1{
            text-align: center;
            
        }
    }